@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var branches = ViewData["branches"] as IEnumerable<string>;
    var tags = ViewData["tags"] as IEnumerable<string>;
}
@if (Model == null)
{
    @Html.Partial("~/Views/Shared/_ItemNotFound.cshtml")
}
else
{
    <text>
        <!--h1>
            @Html.Raw(Model.Logo.Exists ? string.Format("<img src='data:image/png;base64,{0}' class='repo-logo' />", Model.Logo.Base64Image) : "")
            @ViewBag.Name
        </h1-->
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" style=" width:100px;" type="button">HTTP</button>
            </span>

            <input class="form-control" value="@ViewBag.GitUrl" type="text">
            <span class="input-group-btn">
                <a href="@Url.Action("Download", new { id = ViewBag.ID })" class="btn btn-primary"><i class="fa fa-download"></i> @Resources.Repository_Tree_Zip</a>

            </span>
            <span class="input-group-btn">
                <a href="@Url.Action("Clone", new { id = ViewBag.ID })" class="btn btn-primary"><i class="fa fa-copy"></i> @Resources.Repository_Layout_Clone</a>

            </span>
        </div>
        <br />
        <div class="row" style="vertical-align:central; text-align:center">
            <div class="col-lg-3">
                <a href="@Url.Action("Commits", new { id = ViewBag.ID })" style="width:100%"><i class="fa fa-random"></i> @Resources.Repository_Layout_Commits</a> <span class="badge bg-danger">@ViewData["CommitCount"]</span>
            </div>
            <div class="col-lg-3">
                <a href="@Url.Action("Branches", new { id = ViewBag.ID })" class="branch" style="width:100%"><i ></i> 分支</a> <span class="badge bg-danger">@branches.Count()</span>
            </div>
            <div class="col-lg-3">
                <a href="@Url.Action("Tags", new { id = ViewBag.ID })" style="width:100%"><i class="fa fa-tag"></i> @Resources.Repository_Layout_Tags</a> <span class="badge bg-danger">@tags.Count()</span>

            </div><div class="col-lg-3">
    <a href="@Url.Action("File", new { id = ViewBag.ID })" style="width:100%"><i class="fa fa-random"></i> 存储</a> <span class="badge bg-danger">5</span>

</div><!--a href="@Url.Action("Detail", new { id = ViewBag.ID })" class="detail"><i class="fa fa-hdd-o"></i> @Resources.Repository_Detail_Detail</!--a>-->





        </div>
    </text>
}
@RenderBody()

@section scripts
{
    @RenderSection("scripts", false)
} 